In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [2]:
data = {
    'col1':['1', '2', '3', 'teks'],
    'col2':['1', '2', '3', '4']
}

df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

In [3]:
df.dtypes # untuk mengecek tipe data

col1    object
col2    object
dtype: object

In [8]:
df_x = df.astype({'col2':'int'}) # menggunakan fungsi astype() untuk konversi tipe data
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [9]:
df_x.dtypes

col1    object
col2     int32
dtype: object

In [10]:
df.apply(pd.to_numeric, errors='coerce') # fungsi untuk merubah keseluruhan tipe data menjadi tipe data numeric

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4