In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0   1   2   4  11   7
1   4  19  10   1   6
2  14  14   1  11   6
3  18  17   8   3  12
4  14   3   5  18   6

In [3]:
df.query('A > 5')

    A   B  C   D   E
2  14  14  1  11   6
3  18  17  8   3  12
4  14   3  5  18   6

In [4]:
rerata = df['A'].mean()
rerata

10.2

In [5]:
df.query('A > @rerata')

    A   B  C   D   E
2  14  14  1  11   6
3  18  17  8   3  12
4  14   3  5  18   6