In [3]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [4]:
n_rows = 5
n_cols = 2
cols = ['omset', 'operasional']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

   omset  operasional
0      3           18
1     14            8
2      9            7
3      8            3
4     15            1

In [5]:
df['omset'] = df['omset'] * 100_000
df['operasional'] = df['operasional'] * 10_000
df

     omset  operasional
0   300000       180000
1  1400000        80000
2   900000        70000
3   800000        30000
4  1500000        10000

In [ ]:
df.index = pd.util.testing.makeDateIndex(n_rows, freq='D')
df = df.reset_index() # mengubah menjadi kolom biasa
df = df.rename(columns={'index':'tanggal'})
df

In [ ]:
formatku = {'tanggal':'{:%d/%m/%Y}',
            'operasional':'Rp {:.2f}',
            'omset':'Rp {:.2f}'}

laporan = df.style.format(formatku)
laporan

In [ ]:
type(laporan) # styler bukan dataframe

In [ ]:
laporan.hide_index()

In [ ]:
laporan.set_caption('Data Omset dan Operasional')

In [ ]:
laporan.highlight_min('omset', color='pink')
laporan.highlight_max('omset', color='lightgreen')

laporan.highlight_min('operasional', color='lightblue')
laporan.highlight_max('operasional', color='grey')