In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [7]:
n_rows = 10
n_cols = 1
cols = ("usia",)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols)
df

   usia
0    55
1    28
2    53
3    73
4    76
5    86
6    26
7    35
8    13
9    91

In [8]:
#  menggunakan method cut untuk pengelompokan nilai numerik ke beberapa kategori
df["kelompok_usia"] = pd.cut(df["usia"], bins = [0, 18, 65, 99], labels = ["anak", "dewasa", "manula"])
df

   usia kelompok_usia
0    55        dewasa
1    28        dewasa
2    53        dewasa
3    73        manula
4    76        manula
5    86        manula
6    26        dewasa
7    35        dewasa
8    13          anak
9    91        manula