In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.2.0
1.26.3

In [3]:
data = {
    "day":[1,2,10,25,12],
    "month":[1,2,4,5,6],
    "year":[2000,2001,2002,2003,2004]
}

df = pd.DataFrame(data)
df

   day  month  year
0    1      1  2000
1    2      2  2001
2   10      4  2002
3   25      5  2003
4   12      6  2004

In [4]:
df["penanggalan"] = pd.to_datetime(df[["day", "month", "year"]]) # nama kolomnya harus bahasa inggris dan menggunakan function to_datetime untuk membuat data berdasarkan datetime
df

   day  month  year penanggalan
0    1      1  2000  2000-01-01
1    2      2  2001  2001-02-02
2   10      4  2002  2002-04-10
3   25      5  2003  2003-05-25
4   12      6  2004  2004-06-12

In [5]:
df.dtypes

day                     int64
month                   int64
year                    int64
penanggalan    datetime64[ns]
dtype: object